<div [class]="isExpanded ? 'spg' : 'spg-collapsed'" style="width: 90%; margin-left: 5%;">
    <div class="row">
        <!--Descprition-->
        <div class="col w-50">
            <h1 style="line-height: 1;">{{myPage.title}}</h1>
            <h2 style="line-height: 1;">---</h2>
            <div [style] ="isExpanded ? 'line-height: 2' : 'line-height: 3' " style="word-spacing: 5px; padding-bottom: 2em; transition: 0.3s">
            {{myPage.description}} </div>
        </div>
        <!--Carousel-->
        <div id="myCarousel" class="col carousel slide" data-bs-ride="carousel" style="padding-bottom: 2em;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{myPage.imgsrcs[0]}}" class="d-block" style="width: 700px; height:400px;">
                </div>
                <div class="carousel-item">
                    <img src="{{myPage.imgsrcs[1]}}" class="d-block" style="width: 700px; height:400px;">
                </div>
                <div class="carousel-item">
                    <img src="{{myPage.imgsrcs[2]}}" class="d-block" style="width: 700px; height:400px;">
                </div>
            </div>

            <!--
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button
             -->

        </div>
        <!---LinkBox-->
        <div class="link-box" >
            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-column-gap: 16em; grid-auto-rows: 4em;">
                <ng-container *ngFor="let link of myPage.links;">
                    <a style="text-decoration: none; color: black;" [routerLink]="link"> /{{link}} </a>
                </ng-container>
            </div>
        </div>
    </div>
</div>